@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
body {
    color: red;
    font - family: 'Oswald', sans- serif;
}

h1 {
    color: blue;
}

h2 {
    color: green;
}

h3 {
    color: turquoise;
}

p {
    color: chocolate;
}

#lib-header {
    color: pink;
}

.para {
    color: blueviolet
}